.main_header{
  display: flex;
  flex-grow: 1;
}
.nav_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.renderedNav{
  display: flex;
  align-items: baseline;
}

.renderedNav .nav_container{
  flex-wrap: nowrap;
  flex-grow: 2;
  flex-direction: row;
}

.icon{
  flex-grow: 1;
  margin-left: 2em;
  margin-right: 2em;
}

.nav-item{
  order: 1;
}

.col_container{
  display: flex;
  flex-wrap: wrap;
}

.col_container div{
  flex: 15em;
}

.type_container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.type_element1{
  flex: 15em;
  flex-grow: 1;
  order: 1;
}

.type_element2{
  flex: 15em;
  flex-grow: 1;
  order: 1;
}

.type_element3{
  flex: 15em;
  flex-grow: 1;
  order: 1;
}


.button_container{
  display: flex;
  flex-wrap: wrap;
}

.button_container div{
  flex: 15em;
}


.services_container{
  display: flex;
  flex-wrap: wrap;
}

.service1{
  flex: 15em;
  flex-grow: 1;
  order: 1;
}

.service2{
  flex: 15em;
  flex-grow: 1;
  order: 1;
}

.service3{
  flex: 15em;
  flex-grow: 1;
  order: 1;
}
.service4{
  flex: 15em;
  flex-grow: 1;
  order: 1;
}

.service5{
  flex: 15em;
  flex-grow: 1;
  order: 1;
}

@media (max-width:36em){
  .nav-item{
    width: 90%;
  }
}
