.renderedNav{
  display: flex;
}


.nav_container{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex: 10em;
}

.logo_cont{
  flex-grow: 1;
  order: 1;
}

.nav-item{
  flex-grow: 1;
  order: 2;
}

.content_container{
  display: flex;
}

.myContent{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.contentImg{
  flex-grow: 1;
}

.contentTxt{
  flex-grow: 1;
}

.article_container{
  display: flex;
  flex-wrap: wrap;
}

.article_item1{
  flex: 15em;
  flex-grow: 1;
  order: 1;
}

.article_text{
  flex: 15em;
  flex-grow: 1;
  order: 1;
}
