.renderedNav{
  display: flex;
}


.nav_container{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex: 10em;
}

.logo_cont{
  flex-grow: 1;
  order: 1;
}

.nav-item{
  flex-grow: 1;
  order: 2;
}

.myFooter{
  line-height: 5em;
  height: 5em;
}
