html{ /*Prevents the content from shifting to the right by having the scroll bar show up all the time*/
  overflow:scroll;
}

/*Changes the font family of the whole document*/
body{
  font-family: 'Avenir Next', sans-serif;
}

/*Centers the logo on top*/
.logo{
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-width: 5em;
  width: 100%;
  height: 100%;
}

/* Sets the margin for each section*/
.tables{
  margin: 3em 1em 1em 1em;
}

/*this sets the width and height of each navigation bar item*/
.nav-item{
  text-align: center; /*centers the navigation links in the div*/
  line-height: 3em;
  height: 3em;
}

.selected{ /*Displays the current page by highlighting the respective navigation link*/
  font-weight: 600;
  border-bottom: 0.1em solid black;
}

.nav-item a{
  padding-left: 4px;
  padding-right: 4px;
  text-decoration: none;
  color: black;
  font-weight: 600;

}

.nav-item a:hover{ /*puts a hover state on links on the navigation bar*/

  border-bottom: 0.1em solid black;
}

.nav-item a:focus{ /*Focus state of the navigation bar links*/
  border-bottom: 0.1em solid black;
}
/*Main title styling for each section*/
.section-title{
  font-size: 1.5em;
  padding-bottom: 0.5em;
  border-bottom: 0.1em solid #808080; /*Displays an underline after each section that spans the whole page*/
  color: #505050;
  font-weight: 700;
  clear: both;
}

/*Labels for titles inside the sections*/
.section_labels{
  font-size: 1em;
  color: #AAA;
  font-weight: 600;
}

/*Flexbox styling for the colour palette section*/
.col_container div{
  margin: 1em;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}

/*Flexbox styling for the typography section*/
.type_container div{
  margin: 1em;
}

/*Font + Typography combination for the elements in typography section*/
.main_header{
  margin: 0;
  padding: 0;
  display: block;
  color: #333333;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.04em;
}

/*Subheader styling*/
.sub_header1{
  margin: 0;
  display: block;
  color: #333333;
  font-size: 1.5em;
  font-weight: 600;
}
/*Second subheader styling*/
.sub_header2{
  margin: 0;
  display: block;
  background: -webkit-linear-gradient(#733A9C, #00AAE5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  font-weight: 600;
}

/*In-text link styling*/
.in-text{
  margin: 0;
  font-size: 1.1em;
  font-weight: 500;
  color: #733A9C;
}

/*Hover state for in-text link*/
.in-text:hover, .in-text:focus{
  color: #B38CCE;
}

/*Paragraph style*/
.body-type{
  font-weight: 500;
  color: #555555;
  line-height: 1.8em;
  width: 38em;
}


/*Style for sample code*/
.sample_code{
  color: #888888;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  background: #EDF1F7;
}

.col_code{
  margin-top: 2em;
}


/*Ordered list styling*/
.numbered_list,.bulleted_list{
   margin: 0;
}
.numbered_list li{
  line-height: 1.8em;
  font-weight: 500;
  color: #333333;
}

/*Unordered list styling*/
.bulleted_list li{
  list-style-type: circle;
  line-height: 1.8em;
  font-weight: 500;
  color: #333333;
}


.renderedNav{
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
}

.renderedNav .logo{
  margin: 0 auto;
  max-width: 15em;
  width: 100%;
}


/*Submit button styling*/
.submit{
  margin-bottom: 0.6em;
  display: inline;
  font-size: 1em;
  letter-spacing: 0.04em;
  padding: 0.8em 1.7em 0.8em 1.7em;
  font-weight:500;
  background: linear-gradient(45deg, #9C74B8, #4AC2EA);
  color: #FFF;
  border: none;
  border: 2px solid #fff;
  border-radius: 0.4em; /*Makes the enclosing borders have rounded edges*/
}

.submit:hover{
  background: transparent; /*Makes background transparent to match background element*/
  color: #733A9C;
  border: 2px solid #733A9C;
}

/*Reset button styling*/
.reset{
  margin-bottom: 0.6em;
  display: inline;
  letter-spacing: 0.04em;
  font-size: 1em;
  padding: 0.2em 0.3em 0.2em 0.3em;
  font-weight:500;
  border: none;
  color: #733A9C;
  border-bottom: 2px solid #733A9C;
}

/*Hover state for reset button*/
.reset:hover{
  color: #9C74B8;
  border-bottom: 2px solid #9C74B8;
}

/*Cancel button*/
.cancel{
  margin-bottom: 0.6em;
  display: inline;
  letter-spacing: 0.04em;
  font-size: 1em;
  padding: 0.7em 1.6em 0.7em 1.6em;
  font-weight: 500;
  color: #733A9C;
  border: 2px solid #733A9C;
  border-radius: 0.4em;
}

/*CAncel button hover state*/
.cancel:hover{
  background: #FFFFFF;
  color: #9C74B8;
  border: 2px solid #9C74B8;
}

/*Styling for the molecular div for forms and buttons*/
.button_element2{
  margin: 1em;
  padding: 1em;
  border: 2px solid #DDDDDD;
  border-radius: 0.5em;
}

/*Styling for the form label/name*/
.form_label{
  margin: 1em 0 0.5em 0;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #733A9C;
}
/*Textfield styling*/
.textfield{
  width: 70%; /*Makes the textfield 70% of the div wide */
  padding: 1em;
  border: 1px solid #DDDDDD;
  border-radius: 0.4em;
  color: #0795C6;
}

.textfield:focus{
  outline: none;
  border: 1px solid #733A9C;
}



.textfield::placeholder{
  color: #DDDDDD;
}


/*Positions the molecular buttons in the molecular form*/
.control_buttons{
  margin: 1em 0 0 0;
}
.control_buttons .reset{
  margin-left: 19.5em;
}

/*determines the icon sizes under the services table*/
.service_img{
  display: block;
  margin: 0 auto; /*centers each image in the div*/
  max-width: 150px;
}

/*Creates a lable for each icon*/
.service_label{
  margin: 1em 0 0.5em 0;
  color: #9C74B8;
  text-align: center;
}


/*Contains all the website grids*/
.grid_container{
  margin-bottom: 1em;
}

/*light coloured grid box for 5-column grid*/
.light_1of5{
  height:100px;
  background: #4AC2EA;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}
/*darker coloured grid box for 5-column grid*/
.dark_1of5{
  height:100px;
  background: #9C74B8;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}

/*light coloured grid box for 3-column grid*/
.light_1of3{
  height:100px;
  background: #4AC2EA;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}

/*dark coloured grid box for 3-column grid*/
.dark_1of3{
  height:100px;
  background: #9C74B8;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}


.wireframes_sketch{
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

/*================================================================*/

/*COLORS*/
/*RED*/
.primary1{
  background: #733A9C;
}

.primary2{
  background: #9C74B8;
}

.primary3{
  background: #b38cce;
}

/*GREEN*/
.secondary1{
  background: #00AAE5;
}

.secondary2{
  background: #4AC2EA;
}

.secondary3{
  background: #9ADDF4;
}
/*ORANGE*/
.accent1{
  background: linear-gradient(45deg, #733A9C, #00AAE5);
}

.accent2{
  background: linear-gradient(45deg, #9C74B8, #4AC2EA);
}

.accent3{
  background: #EDF1F7;
}
