@import url('https://fonts.googleapis.com/css?family=Lato');
*{
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  letter-spacing: 0.04em;
}
html{ /*Prevents the content from shifting to the right by having the scroll bar show up all the time*/
  overflow:scroll;
}

/*Changes the font family of the whole document*/
body{
  font-family: 'Lato', sans-serif;
}

header{
  background: rgba(255, 255, 255, 0.7);
  position: relative;
  width: 100%;
  z-index: 1;
}

.nav_container{
  padding: 1em;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 10px 2px rgba(30,30,30,0.1);
}

.nav_container .logo_cont{
  text-align: left;
}

.logo_cont{
  min-width: 25%;
}


.renderedNav .logo{
  margin: 0 auto;
  max-width: 15em;
  width: 100%;
}

.nav-item a{
  color: #333333;
  line-height: 5em;
  height: 3em;
  text-decoration: none;
}


.nav-item a:hover{ /*puts a hover state on links on the navigation bar*/
  border-bottom: 0.1em solid #333333;
}

.nav-item a:focus{ /*Focus state of the navigation bar links*/
  border-bottom: 0.1em solid #333333;
}


.myFooter{
  background-color: #EDF1F7;
  margin-top: 2em;
  max-width: 100%;
  font-size: 0.9em;
  bottom: 0;
  padding-top: 2em;
  padding-bottom: 2em;
}

.myFooter i{
  padding-right: 1em;
}

.myFooter a{
  text-decoration: none;
  font-size: 0.9em;
  padding: 1em 1em 1em 0;
  color: #333333;
}

.myFooter a:hover{
  color: #777777;
}

.footer_container{
  width: 87%;
}
.footer_content4{
  padding-left: 4em;
  border-left: 0.5px solid #333333;
}

.footer_title{
  text-align: left;
  font-size: 1.1em;
  font-weight: 600;
}

.footer_links{
  display: block;
  padding: 0.2em;
  text-align: left;
}
.footer-items{
  font-size: 1.2em;
  text-decoration: none;
  color: #333333;
  padding: 1em;
}

.footer-items:hover{
  -webkit-transition: 0.2s ease-in;
  color: #999999;
}



.button_element2{
  margin: 1em;
  padding: 1em;
  border: 2px solid #DDDDDD;
  border-radius: 0.5em;
}

.form_table{
  margin-left: 5%;
  padding: 2em;
  max-width: 40%;
  background: rgba(255,255,255,0.9);
  border-radius: 0.5em;
}

.feedback_name_container{
  max-width: 70%;
}

.confirm_message{
  line-height: 2em;
  font-size: 0.8em;
  color: #888888;
  max-width: 70%;
}
.feedback_container{
  margin-top: 3em;
  max-width: 80%;
}

.myTextfield.myTextArea{
  text-align: left;
  width: 75%;
  background: transparent;
  border: 1px solid #eeeeee;
  height: 10em;
  display: block;
  padding: 1em;
}

.myTextfield{
  background: transparent;
  border: 1px solid #eeeeee;
  height: 3em;
  width: 80%;
  display: block;
  padding-left: 1em;
}


.postedFeedback{
  background: rgb(250,250,250);
  width: 70%;
  padding: 2em;
}

.postedFeedback form{
    display: inline-block;
}

.recentFeedback{
  margin-top: 1em;
}
.myReplyButton{
  letter-spacing: 0.15em;
  font-size: 0.75em;
  padding: 0.7em 1.3em 0.7em 1.3em;
  background: linear-gradient(90deg, #9C74B8, #4AC2EA);
  color: #FFF;
  border: 0px solid #fff;
  border-radius: 0.4em;
  margin-left: 5em;
}

.myReplyButton:hover, .myReplyButton:focus{
  background: linear-gradient(90deg, #4AC2EA, #9C74B8);
  cursor: pointer;
  outline: none;
}

.postName{
  font-size: 0.8em;
}

.postDate{
  margin-top: 0.3em;
  font-size: 0.8em;
  font-style: italic;
  color: #DDDDDD;
}

.postText{
  font-size: 0.8em;
  color: #555555;
  margin-top: 1em;
  max-width: 70%;
  line-height: 1.5em;
  display: inline-block;
}

.form_title{
  font-size: 1.2em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid darkgray;
  margin-bottom: 0.5em;
  display: block;
}

.textfield_title{
  font-size: 0.7em;
}

.table{
  padding: 1em;
  background-image: url('../img/background.png');
  background-image: url('../img/bg-1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* .myDatePicker{
  margin-left: 5%;
  max-width: 100%;
  font-size: 1.2em;
}


.myDatePicker label{
  display: block;
} */


/* .myDatePicker #returning{
  width: 100%;
  display: block;
  height: 2.4em;
  text-align: center;
  margin: 0.3em 0 0.5em 0;
  border-weight: 0px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #733A9C;
  background: white;
}

.myDatePicker input{
  background: white;
  width: 100%;
  display: block;
  height: 2em;
  text-align: center;
  margin: 0.3em 0 0.5em 0;
  border: 2px solid #DDDDDD;
  border-radius: 5px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #733A9C;
} */

/*Submit button styling*/
.submit{
  margin: auto;
  margin-left: 41.5%;
  margin-top: 1em;
  margin-bottom: 0.6em;
  display: inline;
  letter-spacing: 0.15em;
  font-size: 0.75em;
  padding: 0.7em 1.3em 0.7em 1.3em;
  background: linear-gradient(90deg, #9C74B8, #4AC2EA);
  color: #FFF;
  border-radius: 0.4em;
  border: 1em transparent;
}

.submit:hover{
  background: linear-gradient(90deg, #4AC2EA, #9C74B8);
  cursor: pointer;
  outline: none;
}

.myButton{
  letter-spacing: 0.15em;
  font-size: 0.75em;
  padding: 0.7em 1.3em 0.7em 1.3em;
  background: linear-gradient(90deg, #9C74B8, #4AC2EA);
  color: #FFF;
  border: 0px solid #fff;
  border-radius: 0.4em;
  margin-top: 2em;
  margin-left: 80%;
}

.myButton:hover, .myButton:focus{
  background: linear-gradient(90deg, #4AC2EA, #9C74B8);
  cursor: pointer;
  outline: none;
}

.myPostButton{
  letter-spacing: 0.15em;
  font-size: 0.75em;
  padding: 0.7em 1.3em 0.7em 1.3em;
  background: linear-gradient(90deg, #9C74B8, #4AC2EA);
  color: #FFF;
  border: 0px solid #fff;
  border-radius: 0.4em;
  margin-top: 2em;
  margin-left: 70%;
}

.myPostButton:hover, .myPostButton:focus{
  background: linear-gradient(90deg, #4AC2EA, #9C74B8);
  cursor: pointer;
  outline: none;
}

.readMore{
  letter-spacing: 0.15em;
  font-size: 0.75em;
  padding: 0.7em 1.3em 0.7em 1.3em;
  background: linear-gradient(90deg, #9C74B8, #4AC2EA);
  color: #FFF;
  border: 0px solid #fff;
  margin-top: 2em;
  border-radius: 0.4em;
}

.readMore:hover, .readMore:focus{
  background: linear-gradient(90deg, #4AC2EA, #9C74B8);
  cursor: pointer;
  outline: none;
}

.article_item1 img{
  min-width:100%;
  min-height:100%;
  object-fit: contain;
}

.article_text{
  margin-left: 3em;
}




/*============TEST=============*/
/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
.form_title{
  margin-bottom: 1.5em;
}
.form_label{
  font-weight: bold;
  font-size: 0.9em;
}

.myFormContainer{
  margin-top: 0.5em;
}

.myDateContainer{
  margin-top: 0.5em;
  position: relative;
}

.myDatePicker{
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background: transparent;
  background-image: url(https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-16.png);
  background-position: 97% center;
  background-repeat: no-repeat;
  border-bottom: 2px solid lightblue;
  height: 2.5em;
  border-top: 0px solid #aaa;
  border-left: 0px solid #aaa;
  border-right: 0px solid #aaa;
  color: #555;
  font-size: inherit;
  margin: 0em 1em 1em 0em;
  overflow:hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

.myReturn{
  margin-left: 3em;
}


select.mydropdown{
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background: transparent;
   background-image: url(https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-16.png);
   background-position: 97% center;
   background-repeat: no-repeat;
   border-bottom: 2px solid lightblue;
   height: 3em;
   border-top: 0px solid #aaa;
   border-left: 0px solid #aaa;
   border-right: 0px solid #aaa;
   color: #555;
   font-size: inherit;
   margin: 0em 1em 1em 0em;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 100%;
}

input.mydropdown{
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background: transparent;
   background-image: url(https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-16.png);
   background-position: 97% center;
   background-repeat: no-repeat;
   border-bottom: 2px solid lightblue;
   height: 3em;
   border-top: 0px solid #aaa;
   border-left: 0px solid #aaa;
   border-right: 0px solid #aaa;
   color: #555;
   font-size: inherit;
   margin: 0em 1em 1em 0em;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 100%;
}

/*===========FONTS===============*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 2em;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.purple600 {
  color: #733A9C;
}

/*Subheader styling*/
.sub_header1{
  margin-bottom: 1em;
  display: block;
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
}

.contact_header{
  margin-bottom: 1em;
  display: block;
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 3em;
}
.news{
  display: flex;
  max-width: 1240px;
  margin: auto;
  justify-content: space-between;
  margin-top: 2em;
  align-items: flex-start;
  margin-bottom: 3em;
}

.onenews{
  width: 30%;
  display: inline-block;
  position: relative;
}
.onenews img{
  width: 100%;
  height: auto;
  margin: auto;
}

.newstitle{
  font-size: 1.1em;
  font-weight: 600;
  background-color: #4CBFE8c8;
  color: #fff;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  line-height: 1.4em;
}

/*Paragraph style*/
.body-type{
  font-weight: 500;
  font-size: 0.9em;
  color: #333;
  line-height: 1.8em;
}

.articles{
  max-width: 1150px;
  margin: auto;
  margin-top: 2em;
  background: rgb(250,250,250);
  padding: 3em;
}

.article_container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.article_text{
  width: 40%;
}

.article_text p{
  margin-bottom: 3em;
}

.article_text .sub_header2{
  margin-bottom: 1em;
}
.article_image{
  width: 50%;
  display: block;
}
.article_thumbnail{
  width: 87%;
}


.main_header{
  text-align: center;
  margin-top: 2em;
  padding: 0;
  display: block;
  color: #333333;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.myArticle{
  margin: 4em;
}

.linkbutton{
  text-decoration: none;
  color: #733A9C;
}

.linkbutton:hover,.linkbutton:focus {
  color: #9C74B8;
}

.myFeedback{
  margin: 3em;
}
