/*Centers the logo on top*/
.logo{
  margin: 0 auto;
  margin-top: 0.5em;
  height: 1.85em;
  width: auto;
}
.center_logo{
  width: auto;
  margin: auto;
}

/* Sets the margin for each section*/
.tables{
  margin: 3em 1em 1em 1em;
}

/*this sets the width and height of each navigation bar item*/
.nav-item{
  text-align: center; /*centers the navigation links in the div*/
  line-height: 5em;
  height: 3em;
}

.selected{ /*Displays the current page by highlighting the respective navigation link*/
  font-weight: 600;
  border-bottom: 0.1em solid black;
}

.nav-item a{
  padding-left: 0.15em;
  padding-right: 0.1em;
  text-decoration: none;
  color: #333;
  padding-bottom: 0.35em;
}

.nav-item a:hover{ /*puts a hover state on links on the navigation bar*/
  border-bottom: 0.1em solid #333;
}

.nav-item a:focus{ /*Focus state of the navigation bar links*/
  border-bottom: 0.1em solid black;
}
/*Main title styling for each section*/
.section-title{
  font-size: 1.5em;
  padding-bottom: 0.5em;
  border-bottom: 0.1em solid #808080; /*Displays an underline after each section that spans the whole page*/
  color: #505050;
  font-weight: 700;
  clear: both;
}

/*Labels for titles inside the sections*/
.section_labels{
  margin: 0;
  margin-top: 1em;
  font-size: 1em;
  color: #AAA;
  font-weight: 600;
}

/*Flexbox styling for the colour palette section*/
.col_container div{
  margin: 1em;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}

/*Font + Typography combination for the elements in typography section*/
.main_header{
  margin: 0;
  margin-bottom: 0.6em;
  padding: 0;
  display: block;
  font-size: 1.5em;
  font-weight: 600;
}

/*Subheader styling*/
.sub_header1{
  margin: 0;
  margin-bottom: 0.8em;
  display: block;
  font-weight: 500;
  font-size: 1.3em;
}
/*Second subheader styling*/
.sub_header2{
  margin: 0;
  margin-bottom: 1em;
  display: block;
  font-size: 1.1em;
  font-weight: 600;
}
.sub_header3{
  margin: 0;
  font-size: 1.1em;
  margin-bottom: 1.5em;
  background: linear-gradient(#733A9C, #00AAE5);
  background: -webkit-linear-gradient(#733A9C, #00AAE5);
  background: -ms-linear-gradient(#733A9C, #00AAE5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*In-text link styling*/
.in-text{
  margin: 0;
  font-size: 0.9em;
  font-weight: 500;
  color: #733A9C;
  line-height: 1.8em;
}

/*Hover state for in-text link*/
.in-text:hover, .in-text:focus{
  color: #B38CCE;
}

/*Paragraph style*/
.body-type{
  font-weight: 500;
  font-size: 0.9em;
  color: #333;
  line-height: 1.8em;
  width: 82%;
}


/*Style for sample code*/
.sample_code{
  color: #888888;
  display: inline-block;
  margin: 1em;
  margin-left: 0;
  padding: 1em;
  background: #EDF1F7;
  width: 90%;
}

.col_code{
  margin-top: 2em;
}

/*Unordered list styling*/
.bulleted_list{
  margin: 0;
  padding: 0;
}
.bulleted_list li{
  list-style-type: disc;
  list-style-position: inside;
  line-height: 1.8em;
  font-weight: 500;
  color: #333333;
}
.bulleted_list span{
  margin-left: -0.5em;
}


/*Submit button styling*/
.submit{
  letter-spacing: 0.15em;
  font-size: 0.75em;
  padding: 0.7em 1.3em 0.7em 1.3em;
  background: linear-gradient(90deg, #9C74B8, #4AC2EA);
  color: #FFF;
  border-radius: 0.4em;
  border: 1em transparent;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.submit:hover, .submit:focus{
  background: linear-gradient(90deg, #4AC2EA, #9C74B8);
  cursor: pointer;
  outline: none;
}

.purchase-button{
  display: inline-block;
  margin-top: 1em;
  text-decoration: none;
  border: 0.09em solid #B28DCE;
  border-radius: 0.4em;
  background-color: transparent;
  font-size: 1em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  color: #9C74B8;
}
.purchase-button:hover, .purchase-button:focus{
  color: #733A9C;
  border: 0.09em solid #733A9C;
}

.linkbutton{
  display: inline-block;
  margin-top: 1em;
  text-decoration: none;
  color: #733A9C;
}

.linkbutton:hover,.linkbutton:focus {
  color: #9C74B8;
}

/*Styling for the molecular div for forms and buttons*/
.form{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-left: 1em;
}
.form form{
  width: 50%;
  order: 0;
}
.textinput{
  display: block;
  width: 90%;
  height: 2.7em;
  margin: 0.5em 0;
  border: 1px solid #909090;
  border-radius: 0.2em;
  padding: 0.1em 0em 0em 0.5em;
  font-size: 1em;
}
.textinput:focus{
  border-bottom: 1px solid black;
  outline: none;
  background-color:#EDF1F7;
  box-shadow: 0.03em 0.02em 0.05em #909090;
}
.textinput:hover{
  background-color:#EDF1F7;
  box-shadow: 0.03em 0.02em 0.05em #909090;
}
/*Styling for the form label/name*/
.form_label{
  font-weight: bold;
  font-size: 0.9em;
}
.feedback_item{
  margin-top: 1em;
}
.myTextfield{
  background: transparent;
  border: 1px solid #eeeeee;
  height: 3em;
  width: 80%;
  display: block;
  padding-left: 1em;
}
.myTextfield{
  margin-top: 1em;
}
.myTextfield::placeholder{
  padding-left: 0.5em;
  font-size: 1em;
  color: #EEEEEE;
}

/*NAVIGATION*/
.material-icons.purple600 {
  color: #733A9C;
}
.renderedNav{
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  position: relative;
  width: 100%;
  z-index: 1;
}
.nav-items{
  flex-grow: 1;
  order: 2;
}
.navi_container{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex: 10em;
  padding: 1em;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 10px 2px rgba(30,30,30,0.1);
}
.logo_cont{
  text-align: left;
  flex-grow: 1;
  order: 1;
  min-width: 25%;
}
.navlogo{
  margin: 0 auto;
  max-width: 15em;
  width: 100%;
}
.nav-items a{
  color: #333333;
  line-height: 5em;
  height: 3em;
  text-decoration: none;
}
.nav-items a:hover{ /*puts a hover state on links on the navigation bar*/
  border-bottom: 0.1em solid #333333;
}
.nav-items a:focus{ /*Focus state of the navigation bar links*/
  border-bottom: 0.1em solid #333333;
}


/*FOOTER*/
.myFooter{
  background-color: #EDF1F7;
  margin-top: 2em;
  max-width: 100%;
  font-size: 0.9em;
  bottom: 0;
  padding-top: 2em;
  padding-bottom: 2em;
}
.myFooter i{
  padding-right: 1em;
}
.myFooter a{
  text-decoration: none;
  font-size: 0.9em;
  padding: 0.8em 0.8em 0.8em 0;
  color: #333333;
}
.myFooter a:hover{
  color: #777777;
}
.footer_container{
  width: 87%;
}
.footer_content4{
  padding-left: 4em;
  border-left: 0.5px solid #333333;
}
.footer_title{
  text-align: left;
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.last{
  margin-bottom: 1.5em;
}
.footer_icons{
  padding-left: 2em;
}
.footer_links{
  display: block;
  text-align: left;
}
.footer-items{
  font-size: 1.2em;
  text-decoration: none;
  color: #333333;
  padding: 1em;
}
.footer-items:hover{
  -webkit-transition: 0.2s ease-in;
  color: #999999;
}
.droptitile{
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
}


/*ARTICLE*/
.sub_header1{
  margin-bottom: 1em;
  display: block;
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
}
.body{
  font-weight: 500;
  font-size: 0.9em;
  color: #333;
  line-height: 1.8em;
}
.articles{
  max-width: 1150px;
  margin: auto;
  margin-top: 2em;
  background: rgb(250,250,250);
  padding: 3em;
}
.article_text{
  width: 40%;
}
.article_text p{
  margin-bottom: 2em;
}
.article_text .sub_header2{
  margin-bottom: 1em;
}
.article_image{
  width: 50%;
  display: block;
}
.article_thumbnail{
  width: 87%;
}

/*PROGRESS BAR*/
.progress-container{
  width: 45em;
  margin: auto;
  margin-top: 3em;
}
.progressbar li{
  font-size: 0.9em;
  color: #808080;
  list-style: none;
  display: inline-block;
  width: 16%;
  position: relative;
  text-align: center;
}
.progressbar li:before{
  content: "";
  width: 1.3em;
  height: 1.3em;
  line-height: 1.3em;
  border-radius: 100%;
  display:block;
  text-align: center;
  border: 2px solid #9C74B8;
  background-color: #fff;
  margin: 0 auto 0.4em auto;
}
.progressbar li:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #808080;
  top:0.7em;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after{
  content: none;
}
.progressbar li.active{
  color:#9C74B8;
}
.progressbar li.active:before{
  background-color: #9C74B8;
}
.progressbar li.active + li.active:after{
  height: 2px;
  background-color: #9C74B8;
}
.progressbar-small{
  display: none;
  margin-top: 2em;
}


/*determines the icon sizes under the services table*/
.service_img{
  display: block;
  margin: 0 auto; /*centers each image in the div*/
  max-width: 150px;
}

/*Creates a lable for each icon*/
.service_label{
  margin: 1em 0 0.5em 0;
  color: #9C74B8;
  text-align: center;
}


/*Contains all the website grids*/
.grid_container{
  margin-bottom: 1em;
}

/*light coloured grid box for 5-column grid*/
.light_1of5{
  height:100px;
  background: #4AC2EA;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}
/*darker coloured grid box for 5-column grid*/
.dark_1of5{
  height:100px;
  background: #9C74B8;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}

/*light coloured grid box for 3-column grid*/
.light_1of3{
  height:100px;
  background: #4AC2EA;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}

/*dark coloured grid box for 3-column grid*/
.dark_1of3{
  height:100px;
  background: #9C74B8;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}


.wireframes_sketch{
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

/*================================================================*/

/*COLORS*/
/*RED*/
.primary1{
  background: #733A9C;
}

.primary2{
  background: #9C74B8;
}

.primary3{
  background: #b38cce;
}

/*GREEN*/
.secondary1{
  background: #00AAE5;
}

.secondary2{
  background: #4AC2EA;
}

.secondary3{
  background: #9ADDF4;
}
/*ORANGE*/
.accent1{
  background: linear-gradient(45deg, #733A9C, #00AAE5);
}

.accent2{
  background: linear-gradient(45deg, #9C74B8, #4AC2EA);
}

.accent3{
  background: #EDF1F7;
}
